nav {
    position: relative;    
    background-color: #F55A5A;
    padding-top: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

.nav-image {
    height: 25px;
    margin-right: 5px;
}

nav span {
 margin-top: 2px;
}